<app-sidebar [showRecommendations]="true" [resetToDefaults]="false"></app-sidebar>
<app-filters [isMyLmo]="true" [showAddWidget]="true"></app-filters>
<app-lmi-bar></app-lmi-bar>

@if (!hasWidgets()) {
  <div class="my-lmo__center">
    <div class="my-lmo__empty">
      <div class="my-lmo__empty-text">
        <p class="my-lmo__empty-title">{{ 'MY_LMO.NO_WIDGETS_TITLE' | translate }}</p>
        <p class="my-lmo__empty-subtitle">{{ 'MY_LMO.NO_WIDGETS_SUBTITLE' | translate }}</p>
      </div>
      <button class="my-lmo__add-button" (click)="openWidgetCenter()">
        <div class="my-lmo__add-icon">
          <app-icon name="plus" size="24"/>
        </div>
        <span>{{ 'MY_LMO.ADD_WIDGET' | translate }}</span>
      </button>
    </div>
  </div>
}

@if (hasWidgets() && layoutMode() === '3col') {
  <app-center-section></app-center-section>
}
