:host {
  display: block;
  width: 100%;
}

:host-context(.center-section__widget-card) {
  height: 100%;
}

.chart-container {
  width: 100%;
  position: relative;

  :host-context(.center-section__widget-card) & {
    height: 100%;
  }
}
