<div class="talent-pool-treemap" [class.talent-pool-treemap--selected]="selected()" (click)="selectedChange.emit()">
  <app-flip-card #flipCard>
    <app-widget-checkbox [selected]="selected()" front/>
    <app-widget-header
      [title]="title()"
      [icons]="['stars', 'stats-up-square', 'more']"
      (starsClick)="flipCard.toggle()"
      (removeClick)="removeClick.emit()"
      front/>
    <div class="talent-pool-treemap__body" front>
      @if (isCenter()) {
        <app-chart-wrapper [options]="treemapChartOptions()"/>
      } @else {
        <app-chart-wrapper [options]="miniChartOptions()"/>
      }
    </div>
    <app-widget-back back [widgetType]="widgetType()" (close)="flipCard.toggle()"/>
  </app-flip-card>
</div>
