.labor-force-composition {
  position: relative;
  width: 100%;
  border-radius: 16px;
  --flip-gap: 12px;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__charts {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__chart-container {
    position: relative;
    width: 120px;
    height: 120px;
  }

  &__chart-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    pointer-events: none;
  }

  &__chart-value {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--lmo-text-value);
  }

  &__chart-label {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 10.8px;
    text-align: center;
    vertical-align: middle;
    color: var(--lmo-text-category);
  }

  &__splits {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__split {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__split-bar {
    width: 100%;
    height: 8px;
    overflow: hidden;

    ::ng-deep .chart-container {
      margin-top: -8px;
    }
  }

  &__split-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    :host-context([dir='rtl']) & {
      direction: ltr;
    }
  }

  &__split-title {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--lmo-text-label);
    text-align: center;
  }

  &__split-value {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--lmo-text-value);
  }

  &__split-footer {
    display: flex;
    justify-content: space-between;

    :host-context([dir='rtl']) & {
      direction: ltr;
    }
  }

  &__split-label {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--lmo-text-category);
  }
}
