:host {
  display: contents;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--lmo-text-primary);
  }

  &__icons {
    position: relative;
    display: none;
    align-items: center;
    gap: 6px;

    :host-context(.sidebar) &,
    :host-context(.center-section__widget-card) & {
      display: flex;
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #AEB2BC;
    transition: color 0.15s ease;

    &:hover {
      color: #000000;
    }

    :host-context(body.theme--dark) &:hover {
      color: #FFFFFF;
    }
  }

  &__collapse-icon {
    display: none;
  }

  :host-context(.center-section__widget-card) & {
    &__expand-icon {
      display: none;
    }

    &__collapse-icon {
      display: inline-flex;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .widget-header {
    &__icons {
      gap: 10px;
    }

    &__icon {
      ::ng-deep app-icon svg {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }
}
