.gap-analysis-center {
  position: fixed;
  top: var(--content-top);
  left: calc(var(--nav-sidebar-w) + 384px);
  width: calc(100% - var(--nav-sidebar-w) - 768px);
  height: calc(100vh - var(--content-top) - 168px - 40px);
  transition: left 0.3s ease, width 0.3s ease;
  box-sizing: border-box;
  border-radius: 16px;
  overflow: hidden;

  :host-context([dir='rtl']) & {
    left: auto;
    right: calc(var(--nav-sidebar-w) + 384px);
    transition: right 0.3s ease, width 0.3s ease;
  }

}
