<div class="range-selector">
  <div class="range-selector__options"
       (pointerdown)="startDrag($event)"
       (pointermove)="onPointerMove($event)"
       (pointerup)="onPointerUp($event)"
       (pointercancel)="onPointerUp($event)">
    <div class="range-selector__track"></div>
    @for (option of allOptions(); track option.id; let i = $index) {
      <div class="range-selector__option">
        <span class="range-selector__label">{{ option.label }}</span>
        <span class="range-selector__dot"
              [class.range-selector__dot--active]="displayIndex() === i"></span>
      </div>
    }
  </div>
</div>
