:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 12px;
  background: var(--lmo-bg-card);
  box-shadow: 0 4px 10px 0 rgba(5, 38, 74, 0.1);

  :host-context(body.theme--dark) & {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35);
  }
}

.hero-kpi-card {
  &__head {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--lmo-border-color);
  }

  &__head-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background: var(--lmo-bg-secondary);
  }

  &__meta {
    display: flex;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__value {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: var(--lmo-text-value);
    margin: 0;
  }

  &__label {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    color: var(--lmo-text-muted);
    margin: 0;
  }

  &__compare {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__compare-label {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    color: var(--lmo-text-muted);
  }

  &__compare-value {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    text-align: end;
    color: var(--lmo-text-primary);
  }
}

@media (max-width: 767.98px) {
  :host {
    padding: 16px;
  }

  .hero-kpi-card {
    &__head {
      gap: 16px;
    }

    &__value {
      font-size: 26px;
      line-height: 32px;
    }
  }
}
