.ai-insights {
  position: relative;
  width: 100%;
  padding: 20px;
  gap: 12px;
  box-sizing: border-box;
  border-radius: 16px;
  background: var(--lmo-bg-widget);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
  }


  &__icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  &__title {
    font-family: 'Graphik Trial', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #05264A;

    :host-context(body.theme--dark) & {
      color: #FFFFFF;
    }
  }

  &__content {
    font-family: 'Graphik Trial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #364151;
    margin: 0;

    :host-context(body.theme--dark) & {
      color: #CDD4DB;
    }
  }

  &__highlight {
    font-family: 'Graphik Trial', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #364151;

    :host-context(body.theme--dark) & {
      color: #CDD4DB;
    }
  }
}
