<div
  class="widget-center"
  [class.widget-center--open]="isOpen()"
  [class.widget-center--closing]="isClosing()"
  (click)="onBackdropClick($event)"
>
  <div class="widget-center__content">
    <div class="widget-center__header">
      <h2 class="widget-center__title">{{ 'LMI.WIDGET_CENTER_TITLE' | translate }}</h2>
      <div class="widget-center__actions">
        <app-dropdown
          class="widget-center__topic-dropdown"
          placeholder="Topic"
          [value]="selectedTopic()"
          [options]="topics()"
          (selected)="onTopicSelect($event)"
        />
        @if (selectedTopic()) {
          <button class="widget-center__topic-clear" (click)="clearTopic()">
            <app-icon name="close" size="12"/>
          </button>
        }
        <div class="widget-center__search">
          <app-icon class="widget-center__search-icon" name="search" size="20" color="#3375C6"/>
          <input
            type="text"
            class="widget-center__search-input"
            [placeholder]="'LMI.SEARCH_WIDGETS' | translate"
            [value]="searchValue()"
            (input)="onSearchInput($event)"
          />
          @if (searchValue()) {
            <button class="widget-center__search-clear" (click)="clearSearch()">
              <app-icon name="close" size="12"/>
            </button>
          }
        </div>
        <button
          class="widget-center__add-button"
          (click)="addSelectedWidgets()"
        >
          <div class="widget-center__add-icon">
            <app-icon name="plus" size="16"/>
          </div>
          <span>{{ 'LMI.WIDGET_CENTER_ADD' | translate }}</span>
        </button>
        <button class="widget-center__close" (click)="close()">
          <app-icon name="close" size="15"/>
        </button>
      </div>
    </div>

    <div class="widget-center__body">
      <div class="widget-center__grid">
        <div class="widget-center__col">
          @for (type of col1Types(); track type) {
            <div
              class="widget-center__widget-wrapper"
              [class.widget-center__widget-wrapper--selected]="isSelected(type)"
              (click)="toggleSelection(type)"
            >
              @if (type === WidgetType.Map) {
                <app-map-widget-card/>
              } @else if (isCustomWidget(type)) {
                <ng-container [ngComponentOutlet]="getWidgetComponent(type)"/>
              } @else {
                <app-generic-widget-card [widgetType]="type"/>
              }
            </div>
          }
        </div>
        @if (col2Types().length > 0) {
          <div class="widget-center__col">
            @for (type of col2Types(); track type) {
              <div
                class="widget-center__widget-wrapper"
                [class.widget-center__widget-wrapper--selected]="isSelected(type)"
                (click)="toggleSelection(type)"
              >
                @if (type === WidgetType.Map) {
                  <app-map-widget-card/>
                } @else if (isCustomWidget(type)) {
                  <ng-container [ngComponentOutlet]="getWidgetComponent(type)"/>
                } @else {
                  <app-generic-widget-card [widgetType]="type"/>
                }
              </div>
            }
          </div>
        }
        @if (col3Types().length > 0) {
          <div class="widget-center__col">
            @for (type of col3Types(); track type) {
              <div
                class="widget-center__widget-wrapper"
                [class.widget-center__widget-wrapper--selected]="isSelected(type)"
                (click)="toggleSelection(type)"
              >
                @if (type === WidgetType.Map) {
                  <app-map-widget-card/>
                } @else if (isCustomWidget(type)) {
                  <ng-container [ngComponentOutlet]="getWidgetComponent(type)"/>
                } @else {
                  <app-generic-widget-card [widgetType]="type"/>
                }
              </div>
            }
          </div>
        }
      </div>

      @if (totalPages() > 1) {
        <div class="widget-center__pagination">
          <button
            class="widget-center__pagination-btn"
            [class.widget-center__pagination-btn--disabled]="currentPage() === 1"
            (click)="prevPage()"
          >
            <app-icon name="nav-arrow-left" size="16"/>
          </button>
          @for (page of pageNumbers(); track page) {
            <button
              class="widget-center__pagination-page"
              [class.widget-center__pagination-page--active]="currentPage() === page"
              (click)="goToPage(page)"
            >{{ page }}</button>
          }
          <button
            class="widget-center__pagination-btn"
            [class.widget-center__pagination-btn--disabled]="currentPage() === totalPages()"
            (click)="nextPage()"
          >
            <app-icon name="nav-arrow-right" size="16"/>
          </button>
        </div>
      }
    </div>
  </div>
</div>
